.button {
  background: var(--background-button);
  box-shadow: var(--boxshadow-button);
  border-radius: 10px;
  padding: 10px 25px;
  cursor: pointer;
  /* Display properties */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button__text {
  color: var(--black-color);
  font-size: 17px;
  line-height: 28px;
  transform: translate(15px, 0);
  transition: all 0.25s ease;
}

.button__left,
.button__right {
  display: grid;
  place-items: center;
}

.button__left {
  opacity: 1;
  transform: translate(-5px, 0);
  transition: all 0.25s ease;
}

.button__right {
  opacity: 0;
  transform: translate(5px, -50px);
  transition: all 0.25s ease;
}

.button i {
  color: var(--black-color);
  font-size: 22px;
}

.button:hover {
  background: var(--yellow-color);
}

button:hover .button__text {
  transform: translateX(-15px);
}

button:hover .button__left {
  opacity: 0;
  transform: translate(-5px, 50px);
}

button:hover .button__right {
  opacity: 1;
  transform: translate(5px, 0);
}

@media (min-width: 768px) {
  .button {
    padding: 12px 30px;
    /* Text properties */
    font-size: 20px;
    line-height: 33px;
  }

  .button__text {
    font-size: 20px;
    line-height: 33px;
  }

  .button i {
    font-size: 28px;
  }
}
