.button {
  background: var(--background-button);
  color: var(--black-color);
  box-shadow: var(--boxshadow-button);
  border-radius: 10px;
  padding: 10px 25px;
  cursor: pointer;
  /* Text properties */
  font-size: 17px;
  line-height: 28px;
  /* Display properties */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button i {
  color: var(--black-color);
  font-size: 22px;
}

@media (min-width: 768px) {
  .button {
    padding: 12px 30px;
    /* Text properties */
    font-size: 20px;
    line-height: 33px;
  }

  .button i {
    font-size: 28px;
  }
}
