.wrapper {
  background-color: aquamarine;
  min-height: 100vh;
}

/*** Sections ***/

.section {
  position: relative;
  padding: 50px 0;
  /* Background properties */
  background-size: cover;
  background-position: center;
  /* Display properties */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.separator {
  height: 80px;
  width: 100%;
  position: absolute;
  top: -38px;
  z-index: 1;
  /* Background properties */
  background-size: cover;
  background-position: center;
}

.section__image {
  height: 275px;
}

@media (min-width: 768px) {
  .section {
    padding: 65px 0;
  }

  .separator {
    height: 180px;
    top: -88px;
  }

  .section__image {
    height: 100%;
  }
}

/** Section one **/

.section--one {
  background-image: url("../assets/section-1.png");
  padding: 65px 0 100px 0;
}

.separator-1 {
  background-image: url("../assets/separator-1.svg");
}

/** Section two **/

.section--two {
  background-image: url("../assets/section-2.png");
  padding: 65px 0 100px 0;
}

.separator-2 {
  background-image: url("../assets/separator-2.svg");
}

/** Section cards **/

.section--cards {
  background-image: url("../assets/section-cards.png");
}

.card-list {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 25px;
}

@media (min-width: 768px) {
  .card-list {
    width: 85%;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}

/** Section three **/

.section--three {
  background-image: url("../assets/section-3.png");
  height: 200px;
}

@media (min-width: 768px) {
  .section--three {
    height: 325px;
  }
}
