.wrapper {
  background-color: aquamarine;
  min-height: 100vh;
}

/*** Sections ***/

.section {
  padding: 50px 0;
  /* Background properties */
  background-size: cover;
  background-position: center;
  /* Display properties */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/** Section one **/

.section--one {
  background-image: url("../assets/section-1.png");
}

/** Section two **/

.section--two {
  background-image: url("../assets/section-2.png");
}

/** Section cards **/

.section--cards {
  background-image: url("../assets/section-cards.png");
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 25px;
}

/** Section three **/

.section--three {
  background-image: url("../assets/section-3.png");
  height: 200px;
}
