footer {
  background-color: var(--dark-color);
}

footer .social-icons {
  display: block;
}

.footer_container {
  padding: 30px;
  /* Display properties */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer__logo p {
  font-size: 10px;
  line-height: 17px;
}
