:root {
  --white-color: #ffffff;
  --black-color: #1b1c20;
  --dark-color: #000000;
  --yellow-color: #ffec00;
  --red-color-1: #ff0036;
  --red-color-2: #bb0000;
  --blue-color-1: #3b5998;
  --blue-color-2: #517fa4;
  --blue-color-3: #00aced;

  --background-button: linear-gradient(180deg, #ffec00 0%, #ffc600 100%);
  --boxshadow-button: 0px 2px 10px rgba(0, 0, 0, 0.15),
    inset 0px 1px 0px rgba(255, 255, 255, 0.75);
}

* {
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
