header {
  background-color: cadetblue;
  height: 90px;
}

.header_container {
  background-color: chartreuse;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
